@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    position: relative;
    z-index: 2;
  }
  .active .icon{
    z-index: 2;
    color: black;
  }
   
  .active::after {
    content: '';
    position: absolute;
    top: -12px;
    right: 1px;
    height: 60px;
    width: 110px;
    border-radius: 10px;
    background-color: #fff;
    z-index: -1;
  }



  .active::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 8px;
    height: 60px;
    z-index: 1;
    top: -12px;
    right: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
 
  }