@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
   position: relative;
   display: inline-block;
   z-index: 2;
}

.active.after{
    position: absolute;
    top: 8px;
    left: -20px;
    width: 136px;
    height: 65px;
    content: "";
    background: #000;
}
