@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active {
    position: relative;
    z-index: 2;
  }
  .active .icon{
    z-index: 2;
    color: #0866ff;
  }
   
  .active::after {
    content: '';
    position: absolute;
    top: -12px;
    right: 1px;
    height: 60px;
    width: 110px;
    border-radius: 10px;
    background-color: #fff;
    z-index: -1;
  }



  .active::before {
    content: '';
    position: absolute;
    background-color: #0866ff;
    width: 8px;
    height: 60px;
    z-index: 1;
    top: -12px;
    right: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
 
  }


  .box {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  } */
  .img-preview {
    overflow: hidden;
  }
  
  /* scrollbar */
::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

  .box-container{
    border-bottom: 1px solid #333436;
    overflow-y: scroll;
    /* box-shadow: 1px 0px 14px 2px rgba(0,0,0,0.75); */
    
    
  }

  .msgbox-container{
    border-bottom: 1px solid #333436;
    overflow-y: scroll;
    box-shadow: 1px 0px 14px 2px rgba(0,0,0,0.75);
    
    
  }















